/* Titulo do cadastro */
.divTitulo{
    display: flex;
    align-items: center;
    font-size: larger;
    margin-left: 300px;
    padding: 5px;
    text-decoration: underline dotted;
}

.divCadastro{
    display: flex;
    margin-left: 37%;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 75%;
    border: solid 2px black;
}

.h1Titulo{
    font-weight:bold ;
    
}

.divCadastro input{
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
    border-style: none;
    background-color: lightgray;
}

.divCadastro button{
    background-color:  #5cabeb;
    border-radius: 30px;
    border-style:none ;
    margin-top: 5px;
    margin-bottom: -10px;
    padding: 15px;
    width: 50%;
    font-size: 20px;
    font-weight: bolder;
}

.divCadastro a{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
}

.divCadastro a:hover{
    text-decoration: underline;
    transform: scale(1.1);
}

.btnCadastro {
    cursor: pointer;
}

#div_aguardar{
    display: none;
    margin-top: 15px;   
}

.mensagem-de-erro{
    font-size: 10px;
    color: #444;
    margin-right: 50px;
}

.divCadastro input{
    border: 1px solid;
}

#telaSucesso{
    padding: 40px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#telaCadastro{
    height: 33vw;
}