@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Style Header*/
.divHeader {
    display: flex;
    background-color: #5cabeb;
    width: 100%;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 3px #98bfdc;
    /* font-family: 'Playfair Display'; */
    font-weight: 800;
}

.divLogo {
    display: flex;
}

.divCalGanhos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
}


.divPerfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
    
}

#imgHeader{
    display: flex;
    width: 40px;
}

.divBarraPesquisa {
    display: flex;
    align-items: center;
}

#iptBarraPesquisa {
    display: flex;
    border-radius: 10px;
    margin-left: 10px;
    border: solid 3px #acdcfc;
    text-align: left;

}

.liHeader {
    display: flex;
    margin: 20px;
}

#imgHeaderLogo {
    display: flex;
    width: 200px;
    justify-content: center;

}

/*Animação header*/


.liHeader:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

.divPerfil:hover {
    text-decoration: underline;
    transform: scale(1.1);
    
}



/*Style Modal*/
.divModal {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: solid 1px #5cabeb;
}

#imgLogo {
    width: 400px;
}

/*Style Modal 2*/

.divModal2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.divContainer {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: center;
    gap: 50px;
}

.imgTransformador {
    width: 30%;
    align-items: center;


}

.h1AreaAtu {
    margin: 0;
    margin-top: 10px;
    /* font-family: 'Playfair Display' */
}

/*Style DivMiniContainer*/

.divMiniContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 2px #acdcfc;
    border-radius: 50px;
    width: 30%;
    height: 250px;
    transition: 1s border;
    transition: 0.5s background-color;
    transition: 1s;
    /* font-family: 'Playfair Display' */
}

.divMiniContainer:hover {
    border: solid 3px #5cabeb;
    background-color: #acdcfca8;
    transform: scale(1.1);
}

.divMiniContainer a {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Style Footer*/

.divFooter {
    display: table;
    margin-top: 80px;
    background-color: #5cabeb;
    width: 100%;
    height: 20vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: solid 3px #98bfdc;
    /* font-family: 'Playfair Display, Arial' */
}
.content{
    display: flex;
    height: 100%;
}

.divColuna {
    width: 15%;
    border-left: #acdcfc 4px;
    padding-left: 30px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    }

.divColunaRedes {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    transition: 1s;
    }
    
.iconsFooter{
    transition: 1s;
}

.iconsFooter:hover{
    scale: 1.1;
    transform: scale(1.1);
}


#iconOutlook{
    display: flex;
    width: 15px;
    height: 15px;
}
  
/* COLUNAS DO FOOTER */

#listaFooterHome{
    display: flex;
    list-style: none;
    padding: 0;
    flex-direction: column;
    gap: 5px;
}

#listaFooterFaleConosco{
    display: flex;
    list-style: none;
    padding: 0;
    flex-direction: column;
    gap: 5px;
}

#listaFooterSuporte{
    display: flex;
    list-style: none;
    padding: 0;
    flex-direction: column;
    gap: 5px;
}

.divColuna p{
    width: 20ch;
    overflow: auto;
}

.divColuna a{
    display: flex;
    transition: 1s;
}

.divColuna a:hover{
    text-decoration: underline;
}
    
#imgFooterLogo {
    width: 200px;
    margin: 40px;
}

#zenitFooter{
    display: flex;
    align-items: center;
    height: 20px;
    background-color: #5cabeb;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

#link{
    display: flex;
    width: 100%;
    height: 100%;
}
button{
    cursor: pointer;
}