    /*Style Quem somos*/
    .QuemSomos{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 200px;
        border-radius: 50px;
    }

    .QuemSomos .MVV {
        flex-direction: column;
        border-radius: 50px;
        align-items: center;
        display: flex;
        width: 250px;
        margin-top: 50px;
        padding: 30px;
        border: solid 2px #acdcfc;
        transition: 1s border;
        transition: 0.5s background-color;
        transition: 1s;
    }

    .QuemSomos .MVV:hover{
        border: solid 3px #5cabeb;
        background-color: #acdcfca8;
        transform: scale(1.1);
    }

    .QuemSomos .MVV img {
        width: 200px;
        height: 200px;
        border: solid #98bfdc;
        border-radius: 50px;
    }
 
/*box com nossas fotos Começo */

    .SobreNos{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 100px;
    }

    .SobreNos .boxSobreNos{
        flex-direction: column;
        border-radius: 50px;
        background-color: #5cabeb;
        align-items: center;
        display: flex;
        width: 150px;
        height: 200px;
        margin-top: 20px;
        padding: 30px;
        border: solid 2px #000;
    }

    .SobreNos .boxSobreNos img{
        width: 110px;
        height: 110px;
        border-radius: 55px;
        border: solid 2px #acdcfc;
        display: flex;
    }

    .SobreNos .boxSobreNos h1{
        display: flex;
        justify-content: center;
    }


    #iconGit{
        height: 30px;
        width: 30px;
        display: flex;
        border-radius: 15px;
    }

    #miniBoxSobreNos{
        display: flex;
        justify-content: flex-start;
        border: solid 2px #000;
        border-radius: 10px;
        margin: 10px;
        gap: 10px;
        width: 160px;
        height: 45px;
        align-items: center;
    }

    /* Fim box das nossas fotos */

    /* começo da introdução */

    .caixatxtSobrenos{
        display: flex;
        width: 500px;
        height: 300px;
        margin: 50px;
        background-color: #5cabeb;
        border-radius: 50px;
        align-items: center;
        justify-content: center;
        border: solid 3px #000;
    }

    .caixatxtSobrenos:hover{
        transform: scale(1.1);
        background-color: #fff;
        opacity: 0.9;
        border: solid 3px #5cabeb;
        transition: 1s border;
        transition: 0.5s background-color;
        transition: 2s;
    }

    .caixatxtSobrenos img{
        display: flex;
        gap: 10px;
        width: 450px;
        height: 100px;
    }

    .caixatxtSobrenos .txtSobrenos{
        height: 80%;
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #nomeSobrenos{
        margin-bottom: 8px;
        font-family: 'Playfair Display';
    }

    /* Fim introducao */