#telaModal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
    align-items: center;
    margin: 20px;
}
.divKPI {
    display: flex;
    width: 200px;
    flex-direction: column;
    margin-top: 50px;
    gap: 10px
    ;
}
.miniKPI {
    display: flex;
    width: 200px;
    height: 200px;
    border: solid #5cabeb 1px;
    border-radius: 20px;    
}
#metricas {
    align-items: center;
    justify-content: center;
    display: flex;
    border: solid aqua 2px;
    width: 76%;

}
.grafico{
    background: rgb(83,83,83);
    background: radial-gradient(circle, rgba(83,83,83,1) 0%, rgba(0,0,0,1) 100%);
    margin: 10px;
}
.divContainerGrafico {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;

}

.buttonGrafico{
    /* border: 2px solid #5cabeb; */
    border: none ;
    background-color: #5cabeb;
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;
}

.buttonGrafico:hover{
    transform: scale(1.03);
    transition: 0.5s;
}
.divContainerGrafico h1 {
    font-family: Arial, Helvetica, sans-serif;
}

