#telaModal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
    border-radius: 20px;
    background-color: #e0e3e5;
}
.divKPI {
    display: flex;
    width: 200px;
    flex-direction: column;
    /* margin-top: 50px; */
    gap: 5px;
}
.miniKPI {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #fff;
    /* border: solid #5cabeb 1px; */
    border-radius: 20px;
}
#metricas {
    align-items: center;
    justify-content: center;
    display: flex;
    border: solid aqua 2px;
    width: 76%;

}
.grafico{
    /* background: rgb(83,83,83);
    background: radial-gradient(circle, rgba(83,83,83,1) 0%, rgba(0,0,0,1) 100%); */
    /* border: 1px solid; */
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
    /* margin: 10px; */
}
.divContainerGrafico {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;

}

.buttonGrafico{
    /* border: 2px solid #5cabeb; */
    border: none ;
    background-color: #5cabeb;
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
}

.buttonGrafico:hover{
    transform: scale(1.03);
    transition: 0.1s;
}
.divContainerGrafico h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#caixaUm{
    background-color: #ff4444;
    color: white;
    font-weight: bold;
    font-size: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* #caixaUm span{
    margin-top: 5px;
    margin-bottom: 0;
} */
#caixaUm p{
    font-size: 20px;
    margin: 0;
}

#caixaDois{
    background-color: #44ff44;
    color: white;
    font-weight: bold;
    font-size: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* #caixaDois span{
    margin-top: 5px;
    margin-bottom: 0;
} */
#caixaDois p{
    font-size: 20px;
    margin: 0;
}