body {
    margin: 0px;
    padding: 0px;
    padding-top: 0px;
}

/*Style Header*/
.divHeader {
    display: flex;
    background-color: #5cabeb;
    width: 100%;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 3px #98bfdc;
    font-family: 'Playfair Display';
    font-weight: 800;
}

.divLogo {
    display: flex;
}

.divCalGanhos{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
}


.divPerfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
}

#imgHeader{
    display: flex;
    width: 40px;
}

.divBarraPesquisa {
    display: flex;
    align-items: center;
}

#iptBarraPesquisa {
    display: flex;
    border-radius: 10px;
    margin-left: 10px;
    border: solid 3px #acdcfc;
    text-align: left;

}


#imgHeaderLogo {
    display: flex;
    width: 40%;
    height: 40%;
    justify-content: center;
    transform: 2s (1.4);

}

/*Animação header*/
#liCalGanhos:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

#liNossoProduto:hover {
    text-decoration: underline;
    transform: scale(1.1);

}

#liQuemSomos:hover {
    text-decoration: underline;
    transform: scale(1.1);

}

.divPerfil:hover {
    text-decoration: underline;
    transform: scale(1.1);
}
/* Titulo do cadastro */
.divTitulo{
    display: flex;
    align-items: center;
    font-size: larger;
    margin-left: 300px;
    padding: 5px;
    text-decoration: underline dotted;
}
.divCadastro{
    display: flex;
    margin-left: 37%;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 75%;
    border: solid 2px black;
}
.h1Titulo{
    font-weight:bold ;
    
}
.divCadastro input{
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
    border-style: none;
    background-color: lightgray;
}
.divCadastro button{
    background-color:  #5cabeb;
    border-radius: 30px;
    border-style:none ;
    margin-top: 5px;
    margin-bottom: -10px;
    padding: 15px;
    width: 50%;
    font-size: 20px;
    font-weight: bolder;
}
.divCadastro a{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 5px;
    text-decoration: none;
    color: black;
}
.divCadastro a:hover{
    text-decoration: underline;
    transform: scale(1.1);
}