#telaModal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    padding: 10px;
    border-radius: 20px;
    background-color: #e0e3e5;
}

.divKPI {
    display: flex;
    width: 200px;
    flex-direction: column;
    /* margin-top: 50px; */
    gap: 5px;
}

.miniKPI {
    display: flex;
    width: 200px;
    height: 200px;
    font-size: 120px;
    background-color: #fff;
    font-weight: bold;
    /* border: solid #5cabeb 1px; */
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
}

#metricas {
    align-items: center;
    justify-content: center;
    display: flex;
    border: solid aqua 2px;
    width: 76%;

}

.grafico {
    /* background: rgb(83,83,83);
    background: radial-gradient(circle, rgba(83,83,83,1) 0%, rgba(0,0,0,1) 100%); */
    /* border: 1px solid; */
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
    /* margin: 10px; */
}

.divContainerGrafico {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;

}

.buttonGrafico {
    /* border: 2px solid #5cabeb; */
    border: none;
    background-color: #5cabeb;
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;
    margin: 5px;
    cursor: pointer;
}

.buttonGrafico:hover {
    transform: scale(1.03);
    transition: 0.1s;
}

.divContainerGrafico h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#caixaUm {
    background-color: #ff4444;
    color: white;
}

#caixaUm p {
    font-size: 20px;
    margin: 0;
}

/* #caixaDois{
    background-color: #ffff44;
    color: #4e4e4e;

} */
#caixaDois {
    overflow-y: auto;
}

#visaoGeral {
    font-size: 10px;
    margin: 15px;
}


#maiorTemperatura {
    background-color: #ff4444;
    color: #fff;

}

#maiorTemperatura p {
    font-size: 15px;
    margin: 0;
}

#menorTemperatura {
    background-color: #44a1ff;
    color: #fff;
}

#menorTemperatura p {
    font-size: 15px;
    margin: 0;
}

#mediaTemperatura {
    background-color: #ffff44;
    color: #4e4e4e;

}

#mediaTemperatura p {
    font-size: 15px;
    margin: 0;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

canvas {
    width: 800px !important;
    height: 400px !important;
}

#graficoKpi {
    width: 100% !important;
    height: 100% !important;
}

.tempExibida {
    width: 35px;
    border-radius: 5px;
}